@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
	--primary: #2d2d2d;
	--secondary: #535353;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", sans-serif;
	min-height: 100vh;
}

body div#__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

body div#__next main {
	flex-grow: 1;
}

h2 {
	font-size: 1.2rem;
	color: var(--primary);
}

h3 {
	font-size: 1rem;
	color: var(--secondary);
}

p {
	line-height: 1.5;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	display: flex;
	align-items: center;
	justify-content: center;
	/* z-index: 20; */
}

.slick-arrow.slick-prev {
	left: 50px;
	top: 45%;
}

.slick-arrow.slick-next {
	right: 50px;
	top: 45%;
}

.slick-prev::before,
.slick-next::before {
	display: none;
}

.slick-dots {
	margin-top: 20px;
}

@media screen and (max-width: 400px) {
	.slick-arrow.slick-prev {
		left: -20px;
		top: 45%;
	}
	.slick-arrow.slick-next {
		right: -20px;
		top: 45%;
	}
}
